<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/Druczki/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Druczki/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/phpunit-coverage" lowUpperBound="90" highLowerBound="100"/>
        <log type="coverage-clover" target="./build/phpunit-coverage.xml"/>
    </logging>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
